.ratings
  .rating-box.help
    .inner-rating-box
      .buttons.help
        .button.active(data-title="Not helpful")
        .button(data-title="A little helpful")
        .button(data-title="Definitely helpful")
        .button(data-title="Very helpful")
        .button(data-title="Extremely helpful")
      .rating-description Not helpful
  .rating-box.harm
    .inner-rating-box
      .buttons.harm
        .button.active(data-title="Not harmful")
        .button(data-title="A little harmful")
        .button(data-title="Definitely harmful")
        .button(data-title="Very harmful")
        .button(data-title="Extremely harmful")
      .rating-description Not harmful
  .rating-box.relevance
    .inner-rating-box
      .buttons.relevance
        .button.active(data-title="Ignore it")
        .button(data-title="No big deal")
        .button(data-title="Worth attention")
        .button(data-title="Important")
        .button(data-title="Critical")
      .rating-description Ignore it
  .rating-box.strength
    .inner-rating-box
      .buttons.strength
        .button(data-title="On its way out")
        .button(data-title="Declining")
        .button(data-title="Holding Steady")
        .button(data-title="Rising")
        .button(data-title="Hegemonic")
      .rating-description Declining
