extends ../layout

block content
  #content.container
    #institutions
      include _list
      .card
        include _diagram
        h2 Organized Religion
        .stats-box
          i.icon-cogs
        .rating-box.harm
          h6 HARM
          .inner-rating-box
            .buttons.harm
              .button.active
              .button.active
              .button.active
              .button
            .rating-description Harmful
        .rating-box.help
          h6 HELP
          .inner-rating-box
            .buttons.help
              .button.active
              .button.active
              .button
              .button
            .rating-description Somewhat helpful
        .rating-box.strength
          h6 RELEVANCE
          .inner-rating-box
            .buttons.strength
              .button
              .button
              .button
              .button
              .button
            .rating-description Declining              
        .description
          p lorem ipsum
