extends ../layout

block content
  #content.container
    #institutions
      .list
        ul
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
          li Meow meow meow meow
      .card
        h2 Institution
        .rating-box
          h6 HARM
          .inner-rating-box
            .buttons
              .button
              .button
              .button
              .button
            .description Somewhat harmful
