extends ../layout

block content
  #content.container
    #institutions
      .list
        ul Prehistoric
          li Circles
          li Hierarcy
          li Shamanism
          li Rite and Ritual
        ul Civilization
          li Domestication
          li Warrior Classes
          li Political Privilege
          li.active Organized Religion
          li Monarchy
          li The Law
          li The Library  
      .card
        .diagram
          .diagram-left
            i.icon-certificate
            i.icon-arrow-down
            i.icon-magic
            i.icon-arrow-down
            i.icon-male
            i.icon-female
          .diagram-right
            p GOD
            p Priest
            p You      
        h2 Organized Religion
        .rating-box.harm
          h6 HARM
          .inner-rating-box
            .buttons
              .button
              .button
              .button
              .button
            .rating-description Somewhat harmful
        .rating-box.help
          h6 HELP
          .inner-rating-box
            .buttons.help
              .button
              .button
              .button
              .button
            .rating-description Somewhat helpful
        .rating-box.strength
          h6 STRENGTH
          .inner-rating-box
            .buttons.strength
              .button
              .button.selected
              .button
              .button
              .button
            .rating-description Declining              
        .description
          p lorem ipsum
