.era(data-name='ancient')
  .title Ancient History
  .era-dates 3600 BCE - 500 CE
  .era-stage
  .era-institution.writing(data-name='writing' data-title='Writing')
    .era-icon.lower-sky.left-10
      include ../svg/writing.svg
  .era-institution.bureaucracy(data-name='hierarchy' data-title='Bureaucracy')
    .era-icon.lower-sky.right-10
      include ../svg/hierarchy.svg
  .era-institution.religion(data-name='religion' data-title='Organized Religion')
    .era-icon.layer-3.left-10
      include ../svg/temple.svg
  .era-institution.deforestation(data-name='anarchoamory' data-title='Deforestation')
    .era-icon.layer-4.left-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-3.left-20.tree
      include ../svg/tree2.svg
    .era-icon.layer-2.left-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-30.stump
      include ../svg/stump.svg
    .era-icon.layer-3.left-30.stump
      include ../svg/stump.svg
    .era-icon.layer-2.left-30.stump
      include ../svg/stump.svg
    .era-icon.layer-4.left-35.stump
      include ../svg/stump.svg
    .era-icon.layer-2.left-35.stump
      include ../svg/stump.svg
    .era-icon.layer-3.left-40.stump
      include ../svg/stump.svg
    .era-icon.layer-5.left-40.stump
      include ../svg/stump.svg
    .era-icon.layer-4.left-45.stump
      include ../svg/stump.svg
  .era-institution.empire(data-name='the state' data-title='States and Empires')
    .era-icon.layer-1.right-5
      include ../svg/stadium.svg
    .era-icon.layer-4.right-15
      include ../svg/empire.svg
    .era-icon.layer-3.right-25
      include ../svg/building2.svg