.era(data-name='modern-era')
  .title Modern Era
  .era-dates 1500 - 20XX
  .era-stage
  .era-institution.exponential-growth(data-name='Exponential Growth')
    .era-icon.lower-sky.right-10
      include ../svg/growth.svg
  .era-institution.industrialization(data-name='Industrialization')
    .era-icon.layer-5.left-10
      include ../svg/factory.svg
    .era-icon.layer-5.left-20
      include ../svg/factory.svg
    .era-icon.layer-4.left-15
      include ../svg/factory.svg
  .era-institution.urbanization(data-name='Urbanization')
    .era-icon.layer-4.right-10
      include ../svg/city.svg
    .era-icon.layer-4.right-20
      include ../svg/city.svg
    .era-icon.layer-3.right-15
      include ../svg/city.svg
  .era-institution.ecological-exploitation(data-name='Ecological Exploitation')
    .era-icon.lower-sky.left-10
      include ../svg/ecocide.svg
    .era-icon.layer-1.left-0
      include ../svg/tree2.svg
    .era-icon.layer-2.left-5
      include ../svg/tree2.svg
    .era-icon.layer-3.left-10
      include ../svg/tree2.svg      
    .era-icon.layer-4.left-5
      include ../svg/tree2.svg
    .era-icon.layer-6.left-10
      include ../svg/tree2.svg
  .era-institution.revolution(data-name='Revolution')
    .era-icon.layer-1.right-5.guillotine
      include ../svg/guillotine.svg
    .era-icon.layer-1.right-10
      include ../svg/panel.svg