.era(data-name='modern-era')
  .title Modern Era
  .era-dates 1500 - 20XX
  .era-stage
  .era-institution.exponential-growth(data-name='Exponential Growth')
    .era-icon.lower-sky.right-15
      include ../svg/growth.svg
  .era-institution.industrialization(data-name='Industrialization')
    .era-icon.layer-5.left-10
      include ../svg/factory.svg
    .era-icon.layer-5.left-20
      include ../svg/factory.svg
    .era-icon.layer-4.left-15
      include ../svg/factory.svg
  .era-institution.urbanization(data-name='Urbanization')
    .era-icon.layer-4.right-10
      include ../svg/city.svg
    .era-icon.layer-4.right-20
      include ../svg/city.svg
    .era-icon.layer-3.right-15
      include ../svg/city.svg
  .era-institution.ecological-exploitation(data-name='Ecological Exploitation')
    .era-icon.lower-sky.left-15
      include ../svg/ecocide.svg
    .era-icon.layer-1.left-0
      include ../svg/tree2.svg
    .era-icon.layer-2.left-5
      include ../svg/tree2.svg
    .era-icon.layer-3.left-10
      include ../svg/tree2.svg      
    .era-icon.layer-4.left-5
      include ../svg/tree2.svg
    .era-icon.layer-6.left-10
      include ../svg/tree2.svg
  .era-institution.revolution(data-name='Revolution')
    .era-icon.layer-1.right-5.guillotine
      include ../svg/guillotine.svg
    .era-icon.layer-0.right-15
      include ../svg/panel.svg
  .era-institution.mass-media(data-name='Mass Media')
    .era-icon.layer-0.right-45
      include ../svg/mass_media.svg
  .era-institution.nuclear-war(data-name='Nuclear Warfare')
    .era-icon.layer-4.right-30
      include ../svg/nuclear_war.svg
  .era-institution.democracy(data-name='Democratic Process')
    .era-icon.layer-1.right-25
      include ../svg/voting.svg
  .era-institution.capitalism(data-name='Rise of Capitalism')
    .era-icon.layer-3.left-30
      include ../svg/robber_baron.svg
  .era-institution.science(data-name='Scientific Revolution')
    .era-icon.layer-1.left-20
      include ../svg/beaker.svg
    .era-icon.layer-1.left-25
      include ../svg/rocket.svg
    .era-icon.layer-1.left-15
      include ../svg/microscope.svg