.era(data-name='open-era')
  .title Open Era
  .era-dates 20XX - ?
  .era-stage
  .era-institution.affinity-networks(data-name='affinity networks' data-title='Affinity Networks')
    .era-icon.lower-sky.right-15
      include ../svg/affinity_networks.svg
  .era-institution.sexual-liberation(data-name='anarchoamory' data-title='Gender and Sexual Liberation')
    .era-icon.lower-sky.left-15.male
      include ../svg/male.svg
    .era-icon.lower-sky.left-15.female
      include ../svg/female.svg
    .era-icon.lower-sky.left-15.unicorn
      include ../svg/unicorn1.svg
    .era-icon.layer-2.left-40.making-out
      include ../svg/making_out.svg
    .era-icon.layer-2.left-30.naked
      include ../svg/streaking.svg
  .era-institution.open-source(data-name='open source' data-title='Open Source Collaboration')
    .era-icon.layer-4.right-10.coworking
      include ../svg/coworking.svg
    .era-icon.layer-3.right-15.sharing
      include ../svg/sharing.svg
    .era-icon.layer-3.right-30
      include ../svg/delivering.svg
  .era-institution.ecological-restoration(data-name='nature' data-title='Ecological Restoration')
    .era-icon.layer-5.right-20.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-30.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-35.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-40.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-45.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.left-20.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.left-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-30.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-35.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-40.tree
      include ../svg/tree2.svg
    .era-icon.layer-1.right-0.tree2
      include ../svg/tree1.svg
    .era-icon.layer-1.left-5.tree2
      include ../svg/tree1.svg
  .era-institution.economic-resilience(data-name='decentralization' data-title='Economic Resilience')
    .era-icon.layer-4.left-15.wind-farm
      include ../svg/wind_farm.svg 
    .era-icon.layer-1.left-15.garden
      include ../svg/community_garden.svg
  .era-institution.peace(data-name='peace' data-title='Peace')
    .era-icon.layer-1.right-5
      include ../svg/meditation.svg
    .era-icon.layer-0.right-10
      include ../svg/children.svg      
  .era-institution.technology(data-name='technology' data-title='Appropriate Technology')
    .era-icon.layer-2.right-40.tractor.hidden-xs
      include ../svg/tractor.svg
    .era-icon.layer-0.right-35.bicycle
      include ../svg/bicycle.svg
  .era-institution.meshnet(data-name='meshnet' data-title='The Meshnet')
    .era-icon.layer-0.right-25
      include ../svg/screens.svg
    .era-icon.layer-1.right-20.wifi
      include ../svg/wifi.svg
