.era(data-name='open-era')
  .title Open Era
  .era-dates 20XX - ?
  .era-stage
  .era-institution.sexual-liberation(data-name='Gender and Sexual Liberation')
    .era-icon.lower-sky.left-10.male
      include ../svg/male.svg
    .era-icon.lower-sky.left-10.female
      include ../svg/female.svg
    .era-icon.lower-sky.left-10.unicorn
      include ../svg/unicorn1.svg
  .era-institution.open-source(data-name='Open Source Collaboration')
    .era-icon.lower-sky.right-10
      include ../svg/open_source.svg
    .era-icon.layer-4.right-10.coworking
      include ../svg/coworking.svg
  .era-institution.ecological-restoration(data-name='Ecological Restoration')
    .era-icon.layer-5.right-20.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-30.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-35.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-40.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.right-45.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.left-20.tree
      include ../svg/tree2.svg
    .era-icon.layer-5.left-25.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-30.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-35.tree
      include ../svg/tree2.svg
    .era-icon.layer-4.left-40.tree
      include ../svg/tree2.svg
    .era-icon.layer-2.right-0.tree2
      include ../svg/tree1.svg
    .era-icon.layer-1.left-5.tree2
      include ../svg/tree1.svg
  .era-institution.economic-resilience(data-name='Economic Resilience')
    .era-icon.layer-4.left-15.wind-farm
      include ../svg/wind_farm.svg 
    .era-icon.layer-2.left-20.garden
      include ../svg/community_garden.svg
  .era-institution.peace(data-name='Peace')
    .era-icon.layer-1.right-5
      include ../svg/meditation.svg
