.era(data-name='postclassical-era')
  .title Postclassical
  .era-dates 500 CE - 1500 CE
  .era-stage
  .era-institution.theocracy(data-name='Theocracy')
    .era-icon.layer-5.right-10
      include ../svg/church1.svg
    .era-icon.layer-5.right-15
      include ../svg/religion.svg