.era(data-name='postclassical-era')
  .title Postclassical
  .era-dates 500 CE - 1500 CE
  .era-stage
  .era-institution.theocracy(data-name='Theocracy')
    .era-icon.layer-5.right-20
      include ../svg/church1.svg
    .era-icon.layer-5.right-25
      include ../svg/religion.svg
  .era-institution.nobility(data-name='Nobility')
    .era-icon.layer-3.right-5.castle
      include ../svg/castle.svg
    .era-icon.layer-1.right-5
      include ../svg/knight.svg
  .era-institution.guilds(data-name='Guilds')
    .era-icon.layer-1.left-5.guildhall
      include ../svg/church.svg
    .era-icon.layer-1.left-10
      include ../svg/smithing.svg
  .era-institution.peasants(data-name='Peasant Agriculture')
    .era-icon.layer-4.left-10
      include ../svg/peasant.svg
    .era-icon.layer-5.left-20.flipped
      include ../svg/peasant.svg
    .era-icon.layer-4.left-10.grain
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
    .era-icon.layer-3.left-10.grain
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
