.era(data-name='prehistoric')
  .title Prehistory
  .era-dates X - 3600 BCE
  .era-stage
  .era-institution.villages(data-name='civilization' data-title='Permanent Settlements')
    .era-icon.layer-2.left-10
      include ../svg/village.svg
  .era-institution.oral-tradition(data-name='oral tradition' data-title='Oral Tradition')
    .era-icon.lowest-sky.right-10
      include ../svg/talking.svg
  .era-institution.natural-time(data-name='natural time' data-title='Natural Time')
    .era-icon.sky.left-45
      include ../svg/cycles.svg
  .era-institution.councils(data-name='councils' data-title='Councils')
    .era-icon.lowest-sky.left-10
      include ../svg/circle.svg
  .era-institution.tools(data-name='technology' data-title='Fire and Tool Use')
    .era-icon.layer-4.left-20
      include ../svg/fire.svg
    .era-icon.layer-3.left-20.tool
      include ../svg/chopsticks.svg
    .era-icon.layer-4.left-25.tool
      include ../svg/chopsticks.svg
  .era-institution.sainthood(data-name='enlightenment' data-title='Saints and Prophets')
    .era-icon.layer-3.left-30.saint
      include ../svg/saint.svg
    .era-icon.layer-4.left-40.flipped
      include ../svg/pleading.svg
    .era-icon.layer-2.left-40.flipped
      include ../svg/pleading.svg
  .era-institution.mysticism(data-name='drugs' data-title='Shamanism')
    .era-icon.layer-3.right-35.plant
      include ../svg/plant.svg
    .era-icon.layer-4.right-25.plant
      include ../svg/plant.svg
    .era-icon.layer-2.right-25.plant
      include ../svg/plant.svg
    .era-icon.layer-3.right-30.meditation
      include ../svg/meditation.svg
  .era-institution.hunting(data-name='hunting' data-title='Cooperative Hunting')
    .era-icon.layer-3.right-15.flipped
      include ../svg/hunter.svg
    .era-icon.layer-2.right-20
      include ../svg/archer.svg
    .era-icon.layer-1.right-15.flipped
      include ../svg/hunter.svg
  .era-institution.extinction(data-name='mass extinction' data-title='Human-Caused Mass Extinctions')
    .era-icon.layer-3.right-5
      include ../svg/dodo.svg
    .era-icon.layer-2.right-0
      include ../svg/dodo.svg
    .era-icon.layer-1.right-5
      include ../svg/dodo.svg
    .era-icon.layer-1.right-0
      include ../svg/dodo.svg
  .era-institution.domestication(data-name='domestication' data-title='Domestication')
    .era-icon.layer-2.left-20.grain
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
    .era-icon.layer-1.left-15.grain
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
    .era-icon.layer-0.left-20.grain
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
      include ../svg/grain.svg
    .era-icon.layer-1.left-25.cow
      include ../svg/cow.svg