.era 
  .title Present Moment
  .era-dates 20XX
  .era-stage
  .era-institution.climate-change(title='Ecocide and Climate Change')
    .era-icon.lower-sky.right-20
      include ../svg/ecocide.svg  
    .era-icon.lower-sky.right-10
      include ../svg/climate_change.svg
  .era-institution.early-robot-warfare(title='Early Robotic Warfare')
    .era-icon.layer-1.right-45.drone
      include ../svg/drone.svg
  .era-institution.rapid-scientific-progress(title='Rapid Scientific Progress')
    .era-icon.layer-1.right-15
      include ../svg/science2.svg
  .era-institution.civil-unrest(title='Civil Unrest')
    .era-icon.layer-2.left-20
      include ../svg/wtf.svg
    .era-icon.layer-1.left-25
      include ../svg/protesters2.svg
    .era-icon.layer-2.left-30
      include ../svg/protesters.svg
    .era-icon.layer-1.left-35.police
      include ../svg/riot_police.svg
  .era-institution.global-capitalism(title='Global Capitalism')
    .era-icon.layer-5.right-30
      include ../svg/factory.svg      
    .era-icon.layer-4.right-25
      include ../svg/factory.svg    
    .era-icon.layer-5.right-20
      include ../svg/power_plant.svg 
    .era-icon.layer-5.right-10.ship
      include ../svg/ship.svg
    .era-icon.layer-5.right-10.airplane
      include ../svg/airplane.svg
    .era-icon.layer-2.right-20
      include ../svg/capitalist.svg
  .era-institution.consumerism(title='Consumerism')
    .era-icon.layer-1.left-5.shopping
      include ../svg/shopping2.svg
    .era-icon.layer-1.left-10.shopping
      include ../svg/shopping2.svg
    .era-icon.layer-2.left-5
      include ../svg/building.svg
  .era-institution.national-decline(title='Decline of the Nation State')
    .era-icon.layer-5.left-20
      include ../svg/capitol.svg
  .era-institution.financial-coup(title='Financial Coup')
    .era-icon.layer-3.left-15.bank
      include ../svg/bank.svg
  .era-institution.toxic-culture(title='Toxic Culture')
    .era-icon.lower-sky.left-10.television
      include ../svg/television.svg
    .era-icon.lower-sky.left-10.skull
      include ../svg/skull.svg