.era(data-name='present-moment')
  .title The Present
  .era-dates 20XX
  .era-stage
  .era-institution.climate-change(data-name='ecocide' data-title='Ecocide and Climate Change')
    .era-icon.lower-sky.right-15
      include ../svg/climate_change.svg  
    .era-icon.layer-5.left-30
      include ../svg/dead_tree.svg
    .era-icon.layer-5.left-5
      include ../svg/dead_tree.svg
    .era-icon.layer-3.right-5
      include ../svg/dead_tree.svg
  .era-institution.early-robot-warfare(data-name='robotic warfare' data-title='Early Robotic Warfare')
    .era-icon.layer-5.right-45.drone
      include ../svg/drone.svg
  .era-institution.rapid-scientific-progress(data-name='technology' data-title='Rapid Technological Progress')
    .era-icon.layer-1.right-15
      include ../svg/science2.svg
  .era-institution.civil-unrest(data-name='protest' data-title='Loss of Faith in Institutions')
    .era-icon.layer-1.left-20
      include ../svg/wtf.svg
    .era-icon.layer-1.left-25
      include ../svg/protesters2.svg
    .era-icon.layer-2.left-30
      include ../svg/protesters.svg
    .era-icon.layer-1.left-35.police.hidden-xs.hidden-sm
      include ../svg/riot_police.svg
  .era-institution.global-capitalism(data-name='capitalism' data-title='Global Capitalism')
    .era-icon.layer-5.right-30
      include ../svg/factory.svg      
    .era-icon.layer-4.right-25
      include ../svg/factory.svg    
    .era-icon.layer-5.right-20
      include ../svg/power_plant.svg 
    .era-icon.layer-5.right-10.ship
      include ../svg/ship.svg
    .era-icon.layer-5.right-10.airplane
      include ../svg/airplane.svg
    .era-icon.layer-2.right-20.hidden-xs.hidden-sm
      include ../svg/capitalist.svg
  .era-institution.consumerism(data-name='consumerism' data-title='Consumerism')
    .era-icon.layer-1.left-5.shopping
      include ../svg/shopping2.svg
    .era-icon.layer-1.left-10.shopping
      include ../svg/shopping2.svg
    .era-icon.layer-2.left-5.building
      include ../svg/building.svg
  .era-institution.national-decline(data-name='nation states' data-title='Decline of the Nation State')
    .era-icon.layer-5.left-20
      include ../svg/capitol.svg
  .era-institution.financial-coup(data-name='high finance' data-title='Rise of High Finance')
    .era-icon.layer-3.left-15.bank
      include ../svg/bank.svg
  .era-institution.toxic-culture(data-name='dominant culture' data-title='Toxic Culture')
    .era-icon.lower-sky.left-10.television
      include ../svg/television.svg
    .era-icon.lower-sky.left-10.skull
      include ../svg/skull.svg
  .era-institution.wage-slavery(data-name='police state' data-title='Wage Slavery')
    .era-icon.layer-1.right-35
      include ../svg/worker.svg
    .era-icon.layer-2.right-30
      include ../svg/worker.svg
  .era-institution.internet(data-name='the internet' data-title='The Internet')
    .era-icon.layer-1.right-45
      include ../svg/screens.svg
    .era-icon.layer-2.right-40.wifi
      include ../svg/wifi.svg