.era(data-name='total-state')
  .title Total State
  .era-dates 20XX - ?
  .era-stage
  .era-institution.robot-warfare(data-name='Robotic Warfare')
    .era-icon.sky.right-15
      include ../svg/drone1.svg
    .era-icon.sky.left-15
      include ../svg/drone2.svg    
  .era-institution.police-state(data-name='Police State')
    .era-icon.layer-2.left-5
      include ../svg/registration.svg
    .era-icon.layer-1.left-10
      include ../svg/search.svg
    .era-icon.layer-2.left-20
      include ../svg/detain.svg
  .era-institution.economic-decay(data-name='Economic Decay')
    .era-icon.layer-1.right-30.hidden-xs
      include ../svg/ruins.svg
    .era-icon.layer-2.right-25
      include ../svg/house.svg
    .era-icon.layer-1.right-20
      include ../svg/ruins.svg
    .era-icon.layer-3.right-15
      include ../svg/house.svg             
    .era-icon.layer-1.right-10
      include ../svg/ruins.svg    
    .era-icon.layer-3.right-10.hidden-xs
      include ../svg/ruins.svg       
    .era-icon.layer-1.right-0
      include ../svg/house.svg  
    .era-icon.layer-3.right-5
      include ../svg/graves.svg   
    .era-icon.layer-0.right-15.trash
      include ../svg/trash.svg
  .era-institution.ecocide(data-name='Severe Ecocide')
    .era-icon.layer-5.right-10
      include ../svg/factory.svg      
    .era-icon.layer-5.right-20
      include ../svg/power_plant.svg 
    .era-icon.layer-5.right-35
      include ../svg/wind_turbine.svg
    .era-icon.layer-5.right-30.biofuel
      include ../svg/biofuel.svg
    .era-icon.layer-5.right-40.cactus
      include ../svg/cactus.svg      
    .era-icon.layer-4.right-35.cactus
      include ../svg/cactus.svg
    .era-icon.layer-4.right-25.cactus
      include ../svg/cactus.svg        
    .era-icon.layer-4.left-25.tree
      include ../svg/dead_tree.svg    
  .era-institution.social-unrest(data-name='Uprising and Repression')
    .era-icon.layer-1.right-40.riot
      include ../svg/riot.svg
    .era-icon.layer-2.right-35.gasmask
      include ../svg/gasmask.svg
    .era-icon.layer-2.right-50.riot-police
      include ../svg/riot_police.svg
    .era-icon.layer-1.left-30.riot-police.hidden-xs
      include ../svg/riot_police.svg
  .era-institution.stratification(data-name='Hyper Stratification')
    .era-icon.layer-4.left-10.city
      include ../svg/city.svg
    .era-icon.layer-4.left-15.government
      include ../svg/government.svg
    .era-icon.layer-5.left-20.bank
      include ../svg/bank.svg
