extends ../layout

block content
  #content.container
    .row
      .col-md-8.col-md-offset-2
        include _open_era.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.open-era
    .row        
      .col-md-8.col-md-offset-2
        include _total_state.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.total-state
    .row
      .col-md-8.col-md-offset-2
        include _present_moment.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.present-moment
    .row
      .col-md-8.col-md-offset-2
        include _modern_era.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.modern-era
    .row
      .col-md-8.col-md-offset-2
        include _postclassical_era.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.postclassical-era
    .row
      .col-md-8.col-md-offset-2
        include _ancient_history.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.ancient-history        
    .row
      .col-md-8.col-md-offset-2
        include _prehistoric_era.jade
    .row
      .col-md-8.col-md-offset-2
        .institution-name.prehistoric-era