extends ../layout

block content
  #content.container
    .row.open-era.era-container(style='display: none;')
      .col-md-1.go-to-era(data-era='present')
        p The Present
        i.icon-long-arrow-left
      .col-md-10
        include _open_era.jade
        .institution-name.open-era
      .col-md-1
    .row.total-state.era-container(style='display: none;')
      .col-md-1.go-to-era(data-era='present')
        p The Present
        i.icon-long-arrow-left
      .col-md-10
        include _total_state.jade
        .institution-name.total-state
      .col-md-1
    .row.present.era-container
      .col-md-1.go-to-era(data-era='modern')
        p Modern Era
        i.icon-long-arrow-left
      .col-md-10
        include _present.jade
        .institution-name.present-moment
      .col-md-1
        .go-to-era(data-era='open-era')
          p Open Era
          i.icon-long-arrow-right
        .go-to-era(data-era='total-state')
          p Total State
          i.icon-long-arrow-right
    .row.modern.era-container(style='display: none;')
      .col-md-1.go-to-era(data-era='postclassical')
        p Post- classical Era
        i.icon-long-arrow-left
      .col-md-10
        include _modern_era.jade
        .institution-name.modern-era
      .col-md-1.go-to-era(data-era='present')
        p The Present
        i.icon-long-arrow-right
    .row.postclassical.era-container(style='display: none;')
      .col-md-1.go-to-era(data-era='ancient')
        p Ancient Times
        i.icon-long-arrow-left
      .col-md-10
        include _postclassical_era.jade
        .institution-name.postclassical-era
      .col-md-1.go-to-era(data-era='modern')
        p Modern Era
        i.icon-long-arrow-right
    .row.ancient.era-container(style='display: none;')
      .col-md-1.go-to-era(data-era='prehistoric')
        p Prehistory
        i.icon-long-arrow-left
      .col-md-10
        include _ancient_history.jade
        .institution-name.ancient        
      .col-md-1.go-to-era(data-era='postclassical')
        p Post- classical era
        i.icon-long-arrow-right
    .row.prehistoric.era-container(style='display: none;')
      .col-md-1
      .col-md-10
        include _prehistoric_era.jade
        .institution-name.prehistoric
      .col-md-1.go-to-era(data-era='ancient')
        p Ancient Times
        i.icon-long-arrow-right