//small screen overrides
/*@media(max-width: 640px){
  .title {
    font-size: 48px !important;
  }
  
}*/
//default coloring schemes for institution hovering
.violence { // RED
  &.active {
    svg {
      fill: #F00;
      stroke: #000;
    }
  }
}
.economic { //ORANGE
  &.active {
    svg, circle, path {
      fill: #FFCC00;
      stroke: #000;
    }
  }
}
//YELLOW (Finance)
.politics {
  &.active {
    svg {
      stroke: #00F;
      fill: #bbf;
    }
  }  
}
.media {
  &.active {
    svg {
      stroke: #00F;
      fill: #3CF;
    }
  }  
}
.natural {
  &.active {
    svg {
      stroke: #000;
      fill: #339933;
    }
  }
}
.cultural {
  &.active {
    svg {
      fill: #CC33FF;
      stroke: #000;
    }
  }   
}
.era-container {
  position: relative;
  height: auto;
  .col-md-1 {
    height: 100%;
    p { 
      //display: inline-block; 
    }
  }
  .go-to-era {
    position: absolute;
    top: 0;
    z-index: 10;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #999;
    &.right {
      right: 0;
      text-align: right;
    }
    &.left {
      left: 0;
    }
    &.bottom {
      top: 100px;
    }
    i {
      font-size: 65px;
    }
    p {
      max-width:100%;
      margin-bottom: 0;
      &.hover {
        color: #fff !important;
      }
    }
  }  
}

.era {
  position: relative;
  padding: 80px 48px 150px 48px;
  text-align: center;
  border-bottom: 6px solid #ccc;
  font-weight: bold;

  .title {    
    position: relative;
    z-index: 100;
    pointer-events: none;
    font-size: 72px;
    color: #97f;
    -webkit-text-stroke: 1px #555;
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;    
  }
  .era-dates {
    position: relative;
    z-index: 40;
    pointer-events: none;
    font-size: 30px;
    color: #97f;
    -webkit-text-stroke: 1px #555;
    text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }
  .era-stage {
    position: absolute;

    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    height: 0;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  .era-institution {
    position: absolute;
    width: 100%;
    height: 375px;
    top: 0;
    left: 0;

    .era-icon {
      position: absolute;
      cursor: pointer;

      svg {
        position: relative;
        height: 100% !important;
        .transition(.3s, ease-out);
      }
      &.right-0 { right: 0; }
      &.right-5 { right: 5%; }      
      &.right-10 { right: 10%; }
      &.right-15 { right: 15%; }      
      &.right-20 { right: 20%; }
      &.right-25 { right: 25%; }      
      &.right-30 { right: 30%; }
      &.right-35 { right: 35%; }      
      &.right-40 { right: 40%; }
      &.right-45 { right: 45%; }      
      &.right-50 { right: 50%; }     
      &.left-0 { left: 0; }
      &.left-5 { left: 5%; }      
      &.left-10 { left: 10%; }
      &.left-15 { left: 15%; }      
      &.left-20 { left: 20%; }
      &.left-25 { left: 25%; }      
      &.left-30 { left: 30%; }
      &.left-35 { left: 35%; }      
      &.left-40 { left: 40%; }
      &.left-45 { left: 45%; }      
      &.left-50 { left: 50%; }
      &.sky {
        top: 0%;
        z-index: 50;        
      }
      &.lower-sky {
        top: 10%;
        z-index: 50;
      }      
      &.layer-0 {
        bottom: 0%;
        z-index: 70;
      }    
      &.layer-1 {
        bottom: 5%;
        z-index: 60;
      } 
      &.layer-2 {
        bottom: 10%;
        z-index: 50;
      }       
      &.layer-3 {
        bottom: 15%;
        z-index: 40;
      }  
      &.layer-4 {
        bottom: 20%;
        z-index: 30;
      }       
      &.layer-5 {
        bottom: 25%;
        z-index: 20;
      }  
      &.layer-6 {
        bottom: 30%;
        z-index: 10;
      }                        
    }
/* specific institutions start here */
/* POLICE STATE */
    &.robot-warfare {
      .violence;
      .era-icon {
        height: 112px;
      }
    }
    &.police-state {
      .politics;
      .era-icon {
        height: 54px; 
      } 
    }
    &.economic-decay {
      .economic;
      .era-icon { 
        height: 60px;
        &.layer-2 {
          max-height: 12.5% !important;
        }       
        &.layer-3 {
          max-height: 10% !important;
        }
        &.trash {
          max-height: 7% !important;
          .rotated-90;
        }
      }
    }
    &.ecocide {
      .natural;
      .era-icon { 
        height: 80px;
      }
      .biofuel {
        max-height: 10% !important;
        margin-right: -2%;
      }
      .cactus {
        max-height: 10% !important;
      }
    }
    &.social-unrest {
      .violence;
      .era-icon {
        height: 75px;
        .flipped;
        &.gasmask {
          height: 50px;
          margin-right: -2%;
        }
        &.riot-police {
          height: 50px;
        }
      }
    }
    &.stratification {
      .economic;
      margin-top: -.5%;
      .era-icon {
        &.city {
          height: 75px;
          margin-left: -20px;
        }
        &.government {
          margin-top: -3%;
          height: 75px;
        }
        &.bank {
          margin-bottom: -9px;
          height: 60px;
        }
      }
    }
/* OPEN ERA */
    &.affinity-networks {
      .politics;
    }
    &.sexual-liberation {
      .cultural;
      margin-top: 15px;
      .era-icon {
        &.making-out {
          height: 60px;
        }
        &.naked {
          height: 60px;
        }
        &.male {
          height: 63px;
        }
        &.female {
          height: 75px;
          margin-top: 6px;
          margin-left: 8px;
        }
        &.unicorn {
          margin-left: -11px;
          margin-top: -14px;
          .flipped;
        }
      }   
    }
    &.open-source {
      .economic;
      .era-icon {
        height: 50px;
      }  
    }
    &.peace {
      .cultural;
      .era-icon {
        height: 50px;
      }      
    }
    &.technology {
      .economic;
      .bicycle {
        .flipped;
      }
      .era-icon {
        height: 60px;
      }

    }
    &.ecological-restoration {
      .natural;
      .tree {
        height: 60px;
      }
      .tree2 {
        height: 140px;
      }
    }
    &.economic-resilience {
      .economic;
      .garden {
        height: 50px;
      }      
      .wind-farm {
        height: 100px;
      }
      path, circle {
        fill: #fff;          
      }
    }
    &.meshnet {
      .media;
      .era-icon {
        height: 50px;
      }
    }
/* PRESENT MOMENT */
    &.climate-change {
      .natural;
      .era-icon {
        height: 70px;
      }
    }
    &.early-robot-warfare {
      .violence;
      .drone {
        height: 70px;
      }
    }
    &.rapid-scientific-progress {
      .cultural;
      .era-icon {
        height: 70px;
      }
    }
    &.civil-unrest {
      .violence;
      .era-icon {
        height: 70px;
        &.police {
          height: 45px;
        }
      }
    }
    &.global-capitalism {
      .economic;
      .era-icon {
        height: 70px;      
      }
      .airplane {
        top: 50%;
        height: 20px;
      }
      .ship {
        height: 30px;
        .flipped;
      }
    }
    &.consumerism {
      .cultural;
      .shopping {
        height: 45px;
      }
      .building {
        height: 90px;
      }
    }
    &.national-decline {
      .politics;
      .era-icon {
        height: 90px;      
      }
    }
    &.toxic-culture {
      .cultural;
      .television {
        height: 70px;
      }
      .skull {
        top: 17%;
        height: 35px;
      }      
    }
    &.financial-coup {
      .politics;
      .bank {
        margin-left: -4%;
        height: 70px;

      }
    }
    &.wage-slavery {
      .economic;
      .era-icon {
        height: 45px;
      }
    }
    &.internet {
      .media;
      .era-icon {
        height: 50px;
      }
    }
/* MODERN ERA */
    &.exponential-growth {
      .economic;
      .era-icon {
        height: 80px;
      } 
    }
    &.industrialization {
      .economic;
      .era-icon {
        height: 70px;
      }
    }
    &.urbanization {
      .economic;
      .era-icon {
        height: 80px;
      } 
    }
    &.ecological-exploitation {
      .natural;
      .era-icon {
        height: 80px;
      }      
    }
    &.revolution {
      .politics;
      .era-icon {
        height: 80px;
      }       
    }
    &.mass-media {
      .media;
    }
    &.nuclear-war {
      .violence;
    }
    &.democracy {
      .politics;
      .era-icon {
        height: 50px;
      }
    }
    &.capitalism {
      .economic;
      .era-icon {
        height: 90px;
      }
    }
    &.science {
      .cultural;
      .era-icon {
        height: 50px;
      }
    }
/* POSTCLASSICAL ERA */
    &.theocracy {
      .politics;
      .era-icon {
        height: 80px;
      }   
    }
    &.nobility {
      .politics;
      .era-icon {
        height: 65px;
      }
      .castle {
        height: 100px;
      }
    }
    &.guilds {
      .economic;
      .era-icon {
        height: 65px;
      }        
      .guildhall {
        height: 120px;
        svg {
          height: 120px !important;
        }
      }
    }
    &.peasants {
      .economic;
      .era-icon {
        height: 45px;
      }   
    }
    .grain {
      svg {
        position: absolute;
        &:nth-child(1) {
          left: 10px;
        }
        &:nth-child(2) {
          left: 20px;
        }
        &:nth-child(3) {
          left: 30px;
        }
        &:nth-child(4) {
          left: 40px;
        }          
        &:nth-child(5) {
          left: 50px;
        }
        &:nth-child(6) {
          left: 60px;
        }
      }
    }
/* ANCIENT HISTORY */
    &.writing {
      .media;
    }
    &.bureaucracy {
      .politics;
    }
    &.religion {
      .cultural;
    }
    &.empire {
      .politics;
    }
    &.deforestation {
      .natural;
      .tree {
        height: 70px;
      }
      .stump {
        height: 10px;
      }
    }
/* PREHISTORY */ 
    &.villages {
      .economic;
    }
    &.hunting {
      .economic;
      .era-icon {
        height: 45px;
      }
    }
    &.extinction {
      .natural;
      .era-icon {
        height: 25px;
      }
    }
    &.mysticism {
      .cultural;
      .meditation {
        height: 30px;
      }
      .plant {
        height: 27px;  
      }
    }
    &.sainthood {
      .cultural;
      .era-icon {
        height: 30px;
      }
      .saint {
        height: 42px;
      }
    }
    &.domestication {
      .economic;
      .era-icon {
        height: 30px;
      }
      .cow{
        height: 50px;
      }
    }
    &.oral-tradition {
      .media;
    }
    &.tools {
      .economic;
      .era-icon {
        height: 40px;
      }
      .tool {
        height: 15px;
      }
    }
    &.councils {
      .politics;
    }
    &.natural-time {
      .cultural;
    } 
  } 
}
.institution-name {
  position: relative;
  height: 60px;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  text-align: center;
  font-size: 50px;
  color: #FFCC00;
  -webkit-text-stroke: 1px #FFCC00;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;     
}