#lightbox {
  h2 {
    margin: 0;
  }
  .ratings {
    display: inline-block;
  }

  .diagram {
    display: inline-block;
    vertical-align: top;
    height: 216px;
    width: 216px;
    border: 3px solid #e7e7e7;
    border-radius: 12px;
    background-color: #111;

    i {
      font-size: 30px;
    }
    i.icon-arrow-down {
      display: block;
      margin: 5px;
      font-size: 12px;
    }
    i.icon-certificate {
      color: #fff9c9;
    }
    i.icon-magic {
      color: #58d3d3;
    }
    i.icon-male,  
    i.icon-female,
    i.icon-group {
      color: #e8c158;
    }
    .diagram-left {
      display: inline-block;
      width: 22%;
      margin: 10%;
      text-align: center;
    }
    .diagram-right {
      display: inline-block;
      vertical-align: top;
      width: 35%;
      margin: 10%;
      font-weight: bold;

      p {
        margin: 0px 0 18px 0;
      }
    }
  }
}