#lightbox {
  h2 {
    margin: 0;
  }
  .ratings {
    display: inline-block;
  }
  #lightbox-left {
    display: inline-block;
    width: 17%;
    overflow-y: auto;
    margin: 24px 0;
    border: 2px solid #fff;
    border-right: 0;
    border-radius: 12px 0 0 12px;      
    padding: 12px 24px 12px 12px;
    background: #111;
    ul {
      list-style-type: none;
      font-weight: bold;
      text-transform: uppercase;
      padding-left: 0;

      li {
        font-weight: normal;
        text-transform: none;
      }
    }
  }
  #lightbox-right {
    display: inline-block;
    float: right;
    max-width: 83%;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 24px;
    vertical-align: top;
    overflow-y: auto;
    background-color: #444;
    #lightbox-header {
      height: 42px;
      #lightbox-title {
        display: inline-block;
        margin-top: 0;
      }
    }
    .timeline {
      display: inline-block;
      width: 62%;
      height: 192px;
      background: #e7e7e7;
      margin-top: 12px;
      border: 2px solid #fff;
      border-radius: 6px 0 0 6px;

      .inner-timeline {
        height: 100%;
        width: 100%;
        background: #111;
        border-radius: 6px 0 0 6px;
      }
    }
    .action-box {
      margin-bottom: 12px;
      .btn-lg {
        display: inline-block;
        margin-right: 24px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }  
  .diagram {
    display: inline-block;
    vertical-align: top;
    height: 216px;
    width: 25%;
    border: 3px solid #e7e7e7;
    border-radius: 12px;
    background-color: #111;

    i {
      font-size: 30px;
    }
    i.icon-arrow-down {
      display: block;
      margin: 5px;
      font-size: 12px;
    }
    i.icon-certificate {
      color: #fff9c9;
    }
    i.icon-magic {
      color: #58d3d3;
    }
    i.icon-male,  
    i.icon-female,
    i.icon-group {
      color: #e8c158;
    }
    .diagram-left {
      display: inline-block;
      width: 22%;
      margin: 10%;
      text-align: center;
    }
    .diagram-right {
      display: inline-block;
      vertical-align: top;
      width: 35%;
      margin: 10%;
      font-weight: bold;

      p {
        margin: 0px 0 18px 0;
      }
    }
  }
}

#create-institution {
  margin-top: 100px;
  input {
    display: block;
  }
  textbox {
    display: block;
  }
}