//Other peoples stuff
@import '../bootstrap/mixins.less';
//Macros and re-used rules.
@import './sparkles.less';
@import './controls.less';
//page layouts and styling
@import './history.less';
@import './institutions.less';
@import './themes.less';

@header-height: 64px;

//Global settings
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//Assets
@font-face {
  font-family: abaddon;
  src: url('/fonts/abaddon.TTF');
}
//Main layout styles
body {
  font-family: Arial, calibri, sans;
  .theme-1;
  background: url(/images/wood-walnut-background-tile.jpg);

  #header {
    top: 0;
    height: @header-height;
    width: 100%;
    z-index: 1000;

    .clearfix();

    h1 {
      display: inline-block;
      position: absolute;
      right: 65px;
      top: 0px;
      margin-top: 2px;
      font-family: abaddon;
      font-size: 47px;
    }
    h4 {
      display: inline-block;
      position: absolute;
      right: 65px;
      top: 32px;

    }
    #nav {
      display: inline-block;
      margin-top: 12px;
      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px;
          font-weight: bold;

          &.active {

          }
          a {
            text-decoration: none;
          }
        }
      }
    }    
  }
  #content {
    padding: 0;
    max-width: 85%;
    #lightbox {
      position: fixed;
      top: 64px;
      left: 0;
      right: 0;
      bottom: 100%;
      margin: 24px;
      z-index: 2000;
      overflow: hidden;
      overflow-y: auto;
      height: 0px;
      .transition(.5s, ease-out);

      &.active {
        height: auto;
        bottom: 0;
        border: 2px solid #fff;
        border-radius: 12px;
        padding: 24px;
      }
      .close {
        float: right;
      }
      #lightbox-content {
      }
    } 

    margin-top: 20px;
    border: 6px solid #ccc;
    border-radius: 12px;
    .screen {
      background: #000;
      overflow: hidden;
      height: 490px;
      margin: 20px 20px 0 20px;
      border: 6px solid #ccc;
      padding: 20px;
    }
  }
}
//Less mixins
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}