* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: abaddon;
  src: url('/fonts/abaddon.TTF');
}

body {
  font-family: sans;
  background-color: #111;
  color: #ccc;

  #header {
    h1 {
      display: inline-block;
      position: absolute;
      right: 0px;
      margin: 6px 65px 0 0;
      padding: 6px;
      font-family: abaddon;
      font-size: 49px;
    }
    #nav {
      display: inline-block;

      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px;
          font-weight: bold;

          &.active {

          }
        }
      }
    }    
  }

  #content {
    #institutions {
      .list {
        display: inline-block;
        ul {
          list-style-type: none;
          font-weight: bold;
          text-transform: uppercase;

          li {
            font-weight: normal;
            text-transform: none;
          }
        }
      }
      .card {
        width: 610px;
        height: 600px;
        display: inline-block;
        vertical-align: top;
        margin: 0px 24px;
        border: 4px solid #e7e7e7;
        border-radius: 12px;
        padding: 24px;

        h2 {
          margin: 0;
        }
        .diagram {
          float: right;
          height: 200px;
          width: 200px;
          border: 3px solid #e7e7e7;
          border-radius: 12px;

          i {
            font-size: 30px;
          }
          i.icon-arrow-down {
            display: block;
            margin: 5px;
            font-size: 12px;
          }
          i.icon-certificate {
            color: #fff9c9;
          }
          i.icon-magic {
            color: #58d3d3;
          }
          i.icon-male,  
          i.icon-female,
          i.icon-group {
            color: #e8c158;
          }
          .diagram-left {
            display: inline-block;
            width: 22%;
            margin: 10%;
            text-align: center;
          }
          .diagram-right {
            display: inline-block;
            vertical-align: top;
            width: 35%;
            margin: 10%;
            font-weight: bold;

            p {
              margin: 0px 0 18px 0;
            }
          }
        }
      }
    }
  }
}