//Other peoples stuff
@import '../bootstrap/mixins.less';
//Macros and re-used rules.
@import './sparkles.less';
//page layouts and styling
@import './history.less';
@import './institutions.less';
@import './themes.less';

@header-height: 64px;

//Global settings
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//Assets
@font-face {
  font-family: abaddon;
  src: url('/fonts/abaddon.TTF');
}
//Main layout styles
body {
  .theme-1;

  font-family: Arial, calibri, sans;
  /* Look and feel stuff is in themes.less */
  
  #dont-panic {
    position: relative;
    text-align: center;
    text-shadow: 1px 1px #E0E0E0, -1px -1px #444;
    margin: 5px !important;
  }
  #header {
    top: 0;
    height: @header-height;
    width: 100%;
    z-index: 1000;
    text-align: center;
    text-shadow: 1px 1px white, -1px -1px #444;

    .clearfix();


    #branding {
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #000;
      h1 {
        display: inline-block;
        position: absolute;
        right: 65px;
        top: 0px;
        margin-top: 2px;
        font-family: abaddon;
        font-size: 47px;
      }
      h4 {
        display: inline-block;
        position: absolute;
        right: 65px;
        top: 35px;

      }
    }
    #tagline {
      display: inline-block;
      float: left;
      color: #333;
      margin-left: 3%;
      max-width: 25%;
      h4 {
        font-size: 20px;
        font-weight: bold;
        font-family: cursive, sans-serif;
      }
    }
    #nav {
      display: inline-block;
      margin-top: 12px;
      float: left;
      ul {
        list-style-type: none;

        li {
          display: inline-block;
          padding: 10px;
          font-weight: bold;
          border: 1px solid #000;
          border-width: 1px 1px 3px 1px;
          margin-right: 4px;
          border-radius: 3px 3px 2px 2px;
          color: #000;
          background:rgba(255, 255, 255, 0.3);
          font-size: 14px;

          &.clicked {
            border-bottom: 1px solid;
            position: relative;
            top: 2px;
          }
          a {
            text-decoration: none;
            color: #000;
          }
        }
      }
    }    
  }
  #content {
    position: relative;
    padding: 0;
    max-width: 1000px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 12px;
    #welcome {
      overflow-y: auto;
      max-height: 100%;
      padding-right: 20px;
    }
    #static{
      display:none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(/images/static.gif);
      z-index: 1000;
      opacity: 0.3;
      pointer-events: none;
    }
    #lightbox {
      position: relative;
      height: 0px;
      z-index: 2000;
      overflow: hidden;
      overflow-y: auto;
      .transition(.5s, ease-out);

      &.active {
        display: block;
        height: 100%;
      }
      .close {
        position: absolute;
        top: 10px;
        right: 21px;
        i {
          color: #fff;
        }
      }
      #lightbox-left {
        display: inline-block;
        width: 17%;
        overflow-y: auto;
        ul {
          list-style-type: none;
          font-weight: bold;
          text-transform: uppercase;
          padding-left: 0;

          li {
            font-weight: normal;
            text-transform: none;
          }
        }
      }
      #lightbox-right {
        display: inline-block;
        max-width: 81%;
        padding-left: 12px;
        vertical-align: top;
        overflow-y: auto;
        #lightbox-header {
          height: 42px;
          #lightbox-title {
            display: inline-block;
            margin-top: 0;
          }
        }
      }
    } 
    .screen {
      position: relative;
      background: #000;
      overflow: hidden;
      height: 490px;
      margin: 0 20px 0 20px;
      border: 1px solid #ccc;
      padding: 20px;
    }
  }
}
//Less mixins
.transition(@duration:0.2s, @ease:ease-out) {
  -webkit-transition: all @duration @ease;
  -moz-transition: all @duration @ease;
  -o-transition: all @duration @ease;
  transition: all @duration @ease;
}