*{-moz-box-sizing:border-box;box-sizing:border-box}
@font-face{font-family:abaddon;src:url('/fonts/abaddon.TTF')}body{font-family:sans;background-color:#111;color:#ccc}body #header h1{display:inline-block;position:absolute;right:0px;margin:6px 65px 0 0;padding:6px;font-family:abaddon;font-size:49px}
body #header #nav{display:inline-block;margin-top:12px}body #header #nav ul{list-style-type:none}body #header #nav ul li{display:inline-block;padding:10px;font-weight:bold}
body #header #nav ul li a{text-decoration:none;color:#ccc}
