.theme-1 {
  background-color: #000;
  color: #ccc;

  #header {
    .dark-grey-gradient;
  }

  #nav {
    a {
        color: #ccc;
    }
  }
  #lightbox {
    .dark-grey-gradient;
    .close {
      color: #fff;
    }
  }
}