#header
  #nav
    ul
      li 
        a(href='/welcome/') Welcome
      li 
        a(href='/history/') The Story
      li 
        a(href='/institutions/') The Pieces
      li Our Moves
  #tagline
    h4 Your guide to interesting times!
  #branding
    h1.rainbow Radicalizer
    h4 a 
      a(href='http://radlife.org', target='blank') radlife
      span  propaganda piece
