#header
  #nav
    ul
      li 
        a(href='/welcome/') Welcome
      li 
        a(href='/history/') The Story
      li The Game
      li 
        a(href='/institutions/') The Pieces
      li Our Moves
  h1.rainbow Radicalizer
    h4 a 
     a(href='http://radlife.org', target='blank') radlife 
     span propaganda piece
#lightbox
  #lightbox-left
    include institutions/_list
  #lightbox-right
    #lightbox-header
      h1#lightbox-title
      .close
        i.icon-remove
    #lightbox-content
      .timeline
        .inner-timeline
      .ratings-right
        .rating-box.harm
          .inner-rating-box
            .buttons.harm
              .button.active
              .button.active
              .button.active
              .button
            .rating-description Harmful
        .rating-box.help
          .inner-rating-box
            .buttons.help
              .button.active
              .button.active
              .button
              .button
            .rating-description Somewhat helpful
        .rating-box.relevance
          .inner-rating-box
            .buttons.relevance
              .button.active
              .button.active
              .button
              .button
            .rating-description Somewhat relevant
        .rating-box.strength
          .inner-rating-box
            .buttons.strength
              .button
              .button
              .button
              .button
              .button
            .rating-description Declining
      include institutions/_diagram
      .action-box
        .share-it.btn-lg.btn-info 
          i.icon-chevron-down  Share It!
        .rock-it.btn-lg.btn-primary 
          i.icon-chevron-down  Rock It! 
          i.icon-thumbs-up
        .block-it.btn-lg.btn-danger 
          i.icon-chevron-down  Block It! 
          i.icon-thumbs-down
      .description
        p The problem with organized religion is that legitimate religious experiences do happen. The problem with organized religion is that it is the fan club for people who have visionary experiences. The fan club uses the words of the divine truth but stays on the surface in the 