#lightbox
  #lightbox-left
    include institutions/_list
  #lightbox-right
    #lightbox-header
      h1#lightbox-title
      .lightbox-button.lightbox-menu
        i.icon-reorder
      .lightbox-button.lightbox-close
        i.icon-remove
    #lightbox-content
      //-.timeline
      //-  .inner-timeline
      //-include institutions/_diagram
      .description
  #lightbox-footer
    include institutions/_responses
