#lightbox
  #lightbox-left
    include institutions/_list
  #lightbox-right
    #lightbox-header
      h1#lightbox-title
      .close
        i.icon-remove
    #lightbox-content
      .timeline
        .inner-timeline
      .ratings-right
        .rating-box.harm
          .inner-rating-box
            .buttons.harm
              .button.active
              .button.active
              .button.active
              .button
            .rating-description Harmful
        .rating-box.help
          .inner-rating-box
            .buttons.help
              .button.active
              .button.active
              .button
              .button
            .rating-description Somewhat helpful
        .rating-box.relevance
          .inner-rating-box
            .buttons.relevance
              .button.active
              .button.active
              .button
              .button
            .rating-description Somewhat relevant
        .rating-box.strength
          .inner-rating-box
            .buttons.strength
              .button
              .button
              .button
              .button
              .button
            .rating-description Declining
      include institutions/_diagram
      .action-box
        .share-it.btn-lg.btn-info 
          i.icon-chevron-down  Share It!
        .rock-it.btn-lg.btn-primary 
          i.icon-chevron-down  Rock It! 
          i.icon-thumbs-up
        .block-it.btn-lg.btn-danger 
          i.icon-chevron-down  Block It! 
          i.icon-thumbs-down
      .form-box
        .share-box
          img(src="http://las.arts.ubc.ca/files/2010/08/facebook-button.jpg")
        .response-box-positive
          input(placeholder="How can we use it?")
          textarea(placeholder="Details")
        .response-box-negative
          input(placeholder="How do we lose it?")
          textarea(placeholder="Details")
      .description
        p Robotic Warfare (“Drones”)

        p It’s fashionable in liberal circles to protest the use of drones for military and surveillance operations. This movement may as well be protesting the advent of the rifle in the 19th century. Armed robots are simply the latest revolution in military affairs. Since 2001 they have proven themselves as US assets and their use will only increase and spread to other actors. Consumer-grade drones are now widely available for a few hundred dollars. Other nation states are developing their own unmanned platforms and non-state actors are likely to adopt robotic assets for insurgency campaigns and intelligence gathering.

        p Welcome to the future.

        p Despite growing capabilities, military robots are in their infancy. The General Dynamics MQ-1 Predator [link] is the most widely-known unmanned aerial vehicle currently in active use. The fact that their operations are so well-known is an indicator that they are approaching obsolescence. When PBS does a documentary called ‘Rise of the Drones’ [link] showing their modes of operations and capabilities, that is a good indicator that they are no longer state of the art.

        p Drones are not fancy or new. They are the go-to technology for blowing things up from the sky. 

        p Welcome to the present.

        p Drones are already shrinking. The backpack-sized AeroVironment RQ-11 Raven [link] weighs 4 pounds, flies for 60-90 minutes, and has an operational radius of approximately 6 miles. Smaller drones are the size of hummingbirds or insects. Someday soon you might mistake one for an insect buzzing quickly past your head.

        p There are also non-military applications of automated robots: search and rescue missions, environmental monitoring, aerial photography, vacuuming your house. The Federal Aviation Administration has already shut down TacoCopter[link] - a business using unmanned vehicles to airdrop tacos ordered via a smartphone app. When you forget about assassinations conducted by satellite half a world away, and watch a video of a tuxedo cat riding a roomba, drones of today can seem cute and quirky.

        p The future of robotic warfare is potentially far more dystopian. Rather than staying aloft for hours, ultra-light solar-powered platforms of the future will operate continuously for weeks or months or years at a time. They will use arrays of cameras to continuously observe entire cities, automatically tracking people, vehicles, and other moving objects. They will use cell phone location data and social media to monitor and predict the behaviors of entire populations. Deviations from established patterns will be flagged without human intervention. All this data will be available to algorithms that automatically determine persons of interest and targets for strikes.

        p With increased computing power and heavy investment in the technologies, near-universal surveillance (or the possibility of doing it retroactively through logs and other digital footprints) is becoming the norm in many places. Computers can identify people from photographs - hundreds at a time in a crowd if necessary - and instantly link them to their online profiles, government records, and personal networks through phone and text message metadata (without even reading the content of those messages!). Speech recognition will allow automated policing of spoken conversations soon enough. For now, implanted microchips are mostly a thing for pets. 

        p Autonomous drones (those that operate with minimal or no human intervention) are on the horizon. The Google Car[link] has shown that machines can operate themselves in complex environments - and do so effectively. Personally, I’d trust a robot car to stop short for a pedestrian more than I’d trust a human who might be texting or otherwise distracted. I am less excited about the prospect of weaponized robots tracking and eliminating their own targets.

        p Boomerang [link] system is an automated system that uses an array of microphones to automatically detect and determine the origin of gunfire in war zones. Automated return fire is not openly in use but could be easily implemented. Automatic policing from the sky and the ground is not just a statist’s wet dream for the future. It is a potential reality here and now.

        p Where does this leave those of us who would reject this future if we could? Can we hope to resist tireless machines that operate with algorithmic precision? What happens to the world when humans holding guns are obsolete and entire wars can be waged from a few dozen computer terminals? Can drones help us build a better future?
