extends layout

block content
  h1 Technical Thanks
    h3 The Noun Project (Where many of the fun little icons came from):
      a(href='http://thenounproject.com/Mattebrooks' target='_blank') Matt Brooks
      a(href='http://thenounproject.com/arturomob' target='_blank') Arturo Molina
      a(href='http://thenounproject.com/ic-mihrak' target='_blank') The ic-mihrak propaganda design collective
      a(href='http://thenounproject.com/merdesign' target='_blank') Monika Ciapala
      a(href='http://thenounproject.com/ochaavmu' target='_blank') OCHA AVMU
      a(href='http://thenounproject.com/Paulo%20Volkova' target='_blank') Paulo Volkova
      a(href='http://thenounproject.com/partyfest' target='_blank') Christoffer Skogsmo
      a(href='http://thenounproject.com/edward' target='_blank') Edward Boatman
      a(href='http://thenounproject.com/samanbb' target='_blank') Saman Bemel-Benrud
      a(href='http://thenounproject.com/humberto.pornaro' target='_blank') Humberto Pornaro
      a(href='http://thenounproject.com/teekay' target='_blank') Tobias Klepp
      a(href='http://thenounproject.com/The%20Art%20of%20E' target='_blank') Evan Wondolowski
      a(href='http://thenounproject.com/iconolater' target='_blank') Andrew Holck
      a(href='http://thenounproject.com/noallegiances' target='_blank') Anthony Lui
      a(href='http://thenounproject.com/Luis' target='_blank') Luis Prado
      a(href='http://thenounproject.com/Hum' target='_blank') Hum
      a(href='http://thenounproject.com/loverita' target='_blank') Silvia Lovera
      a(href='http://thenounproject.com/pavel.nikandrov' target='_blank') Pavel Nikandrov 
      a(href='http://thenounproject.com/bravo' target='_blank') Juan Pablo Bravo 
      a(href='http://thenounproject.com/gkford' target='_blank') Graeme Ford 
      a(href='http://thenounproject.com/jquick1us' target='_blank') Jules Quick
