!!! 5
html(lang="en")
  head
    title= title
    link(rel="font" href="/fonts/abaddon.TTF")
    link(rel="stylesheet" href="/stylesheets/radicalizer.css")    
body
  #header
  #nav
    ul
      li The Story
      li The Game
      li The Pieces
      li Our Moves
  block content
  footer