!!! 5
html(lang="en")
  head
    title= title
    link(rel="font" href="/fonts/abaddon.TTF")
    link(rel="stylesheet" href="/stylesheets/radicalizer.css")   
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")  
body
  #header
    #nav
      ul
        li The Story
        li The Game
        li The Pieces
        li Our Moves
    h1 Radicalizer
  block content
  footer