!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="/font-awesome/css/font-awesome.min.css")  
    link(rel="stylesheet" href="/bootstrap/bootstrap.css")
    link(rel="font" href="/fonts/abaddon.TTF")
    link(rel="stylesheet" href="/stylesheets/radicalizer.css")  
    link(rel="stylesheet" href="/stylesheets/sparkles.css") 
    link(rel="stylesheet" href="/stylesheets/controls.css") 
    script(src="/jquery/jquery-2.0.3.js")
    script(src="/scripts/controls.js")
body
  include _header
  block content
  footer
    a(href='/credits/') Credits