!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="/font_awesome/css/font-awesome.min.css")  
    link(rel="stylesheet" href="/bootstrap/bootstrap.css")
    link(rel="stylesheet" href="/jquery/jquery-ui-custom/css/no-theme/jquery-ui-1.10.3.custom.css")     
    link(rel="font" href="/fonts/abaddon.TTF")
    link(rel="stylesheet" href="/stylesheets/radicalizer.css")  
    link(rel="stylesheet" href="/stylesheets/sparkles.css") 
    link(rel="stylesheet" href="/stylesheets/controls.css") 
    link(rel="stylesheet" href="/stylesheets/history.css") 
    link(rel="stylesheet" href="/stylesheets/institutions.css")     
    script(src="/jquery/jquery-2.0.3.js")
    script(src="/jquery/jquery-ui-custom/js/jquery-ui-1.10.3.custom.js")
    script(src="/jquery/jquery-2.0.3.js")
    script(src="/scripts/form-controller.js")
    script(src="/scripts/history.js")
body
  include _header
  block content
  footer
    a(href='/credits/') Credits