!!! 5
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="/font_awesome/css/font-awesome.min.css")  
    link(rel="stylesheet" href="/bootstrap/bootstrap.css")
    link(rel="stylesheet" href="/jquery/jquery-ui/css/jquery-ui-1.10.3.custom.css")     
    link(rel="font" href="/fonts/abaddon.TTF")
    link(rel="stylesheet" href="/stylesheets/radicalizer.css")   
    script(src="/jquery/jquery-1.9.1.js")
    script(src="/jquery/jquery-ui/js/jquery-ui-1.10.3.custom.js")
    script(src="/scripts/form-controller.js")
    script(src="/scripts/history.js")
    script(src="/scripts/glitches.js")
    script(src="/scripts/radicalizer.js")
body
  #content.container
    .skin
    h2#dont-panic DON'T PANIC!
    .screen
      include _lightbox
      #static
      block content
    .row
      .col-md-12
        include _header
  footer
    a(href='/credits/') Credits