extends layout

block content
  #welcome
    h1 Why I made Radicalizer
    p Hi, I’m Mike - the writer of most of the code and content of this project.
    p The main goal of Radicalizer is to convince you that today’s dominant institutions are dysfunctional, and that we should begin to evaluate and modify them. The longer we dick around working WITHIN “the system” the less time we will have to make the necessary changes TO the system. 
    p The dominant ideologies here in the US are utopian capitalist and utopian regulationist. Both have proven themselves unable to deal with the ecological crises and grave injustices they have created over the past 200 or so years. Neither will they accept responsibility as heirs to the ongoing cultural genocide of indigenous peoples globally. Tragically these dying people may be the only ones who still carry the ideas necessary to live happy lives in balance with our neighbors and environment. Just as mercury accumulates in the world’s oceans and fish, oppressive ideas accumulate in our cultures and minds. The dominant culture has nothing to offer that is not tainted by domination. The goal of this project is to help us learn to detox.
    p Just to be explicit, I'm a middle-class white dude from the US. This means I have a particular perspective and a particular assumed audience. I haven't been around the world, but I've been around the block. I hope whoever you are and wherever you're from, you find this enjoyable and somehow inspiring.
    p In the end, the things that make a good life are simple: Food, shelter, energy, communication, art, culture, love. Yet this is not a romantic or neo-primitive project - there is no utopia here. No going back to a time before things got bad. Modern humans have no place in the garden of eden - like it or not, we are its managers now. What I really want to raise are questions:
    ul
      li How can we most simply create and share the things we need to live happy, fulfilling lives?
      li Can we benevolently and compassionately manage what remains of God’s creation?
      li What cultural institutions can we use or create to help these things happen?
      li What institutions and ideologies oppose us?
    p We now return you to our regularly scheduled revolution already in progress. Come join us.
    p
      a(href='/history/') Click here to see where we are in the story.