extends layout

block content
  #welcome
    p.rainbow
      strong Please note that this site is currently in alpha, meaning it's not done. Please be forgiving with any crappyness you experience and feel free to submit bug reports. The rainbows are intentional. If you don't see rainbows, you should use chrome (or another webkit browser like safari) to view this site. Thanks! <3
    h1 Why I made Radicalizer
    p Hi, I’m Mike - the writer of most of the code and content of this project.
    h3 WHY?
    p The main goal of Radicalizer is to convince you that today’s dominant institutions are dysfunctional, and that we should begin to evaluate and modify them. If you already believe that, hopefully you'll find some ideas here that are useful or inspiring.
    p My central argument is that the longer we durdle around working within the sanctioned channels of “the system” the less time we will have to make the necessary changes TO the system - or to prepare for its unexpected, abrupt decay. I am not saying we should not use the dominant institutions - law, mass media, non-profits, etc. - I am saying we should not look to them to save us from the crises they themselves have created. I am saying we should feel free to reimagine everything.
    h3 HOW? INSTITUTIONS? IDEOLOGIES?
    p A major focus of this project is the institution. By “institution” I mean a thing that people participate in habitually or ritualistically. By this definition, we include nation states, agriculture, secret underground sex clubs, and long-running pick-up softball games. Any organization or group that persists because of human participation requires human participation and will seek human participation. This can be achieved through means such as ads and marketing, missionary work, or police officers. In any case, most institutions that do persist do so through an organ of the institution that encourages or compels participation.
    p By defining “institution” so broadly, it allows us to see the entire human world as a collection of people participating in institutions and carrying around ideas about how things are and how things should be. These ideas are critical to the people and the institutions. When organized into a cohesive worldview and spread, ideas become ideology. Ideology is not just some illusion about how the world is. Ideology is the shared fantasy people live out and make real through their actions. Ideology is the choreography behind the complex dances we perform each day.
    p Of course not everyone knows the same dances. There are different flavors of culture. Some differences are extreme and others are subtle. When people all do the same (or at least compatible) dances, you get a culture. Culture can be tonic and culture can be toxic. Usually, there’s a lot of both mixed in. Just as we will examine institutions to determine whether they harm or help, we will look at ideas and cultural habits that perhaps we can cultivate or leave behind.
    h3 THERE ARE NO UTOPIAS HERE.
    p The dominant ideologies here in the US are utopian capitalist and utopian regulationist. Both have proven themselves unable to deal with the ecological crises and grave injustices they have created over the past 200 or so years. Neither will they accept responsibility as heirs to the ongoing cultural genocide of indigenous peoples globally. Tragically these dying people may be the only ones who still carry the ideas necessary to live happy lives in balance with our neighbors and environment. Just as mercury accumulates in the world’s oceans and fish, oppressive ideas accumulate in our cultures and minds. The dominant culture has nothing to offer that is not tainted by domination. A goal of this project is to help us learn to detox.
    h3 ON THE FUTURES
    p There are two starkly different futures presented here. These are not an either/or proposition. Everything shown in the futures is already stirring today. The question is which ideas will flourish and which will perish. The answer depends on the decisions we make and the direction we steer our lives.
    p In the end, the things that make a good life are simple: Food, shelter, energy, communication, art, culture, love. Yet this is not a romantic or neo-primitive project - there is no utopia here. No going back to a time before things got bad. Modern humans have no place in the garden of eden - like it or not, we are its managers now. What I really want to raise are questions:
    ul
      li How can we most simply create and share the things we need to live happy, fulfilling lives?
      li Can we benevolently and compassionately manage what remains of God’s creation?
      li What cultural institutions can we use or create to help these things happen?
      li What institutions and ideologies oppose us?
    p We now return you to your regularly scheduled revolution already in progress. 
    p Join us.
    p
      a(href='/history/') Click here to see where we are in the story.